/* 
    Created on : Oct 27, 2013, 1:07:53 PM
    Author     : lohnn
*/
.recipeOverview {
  width: 100%;
  height: 150px;
  border-bottom: 1px solid #111;
}
.recipeOverview a {
  width: 100%;
}
.recipeOverview img {
  height: 120px;
  width: 120px;
  float: left;
  margin: 15px 5px;
}
.recipeOverview h3 {
  float: left;
  line-height: 150px;
  margin: 0 5px;
}
